<section id="footer">
        <div class="container-fluid">
          <i class="social-icon fab fa-lg fa-github"></i>
          <i class="social-icon fab fa-lg fa-instagram"></i>
          <i class="social-icon fab fa-lg fa-linkedin"></i>
          <i class="social-icon fas fa-lg fa-envelope"></i>
          <p>© Copyright 2019 Jina Lo</p>
        </div>
</section>