<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">
  <!-- Bootstrap Things -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>Jina Lo</title>
</head>

<body>
  <section id="intro">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/"> JL </a>
            <button class="navbar-toggler ml-auto float-xs-right" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="#navbarContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarContent">
              <ul class="navbar-nav ml-auto flex-column" id="sidebar">
                <li class="nav-item">
                  <a class="nav-link" href="/design">Design</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/programming">Programming</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Journal
                  </a>
                  <div class="dropdown-menu dropdown-menu-right w-50" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/journal/inspiration">Inspirations</a>
                    <a class="dropdown-item" href="/journal/art">Art</a>
                    <a class="dropdown-item" href="/journal/movies">Movies</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#footer">Contact</a>
                </li>
              </ul>
            </div>
          </nav>

      <div class="intro-text">
        <h1 class="intro-header">JINA LO</h1>
        <h2 class="intro-head-des"> Developer & Designer </h2>
        <p class="intro-des">
          Hi, I am a junior studying computer science at the University of Pennsylvania. <br />
          I am a programmer and a designer, interested in <b> data science, web/app development and UI/UX design.</b>
        </p>
      </div>
    </div>


  </section>

  <!-- animation 배워서 각 feature hover 하면 rotate하듯이 넣기  -->
  <section class="ivory">
  <div class="work_section">
      <h1 class="work_header">SKILLS</h1>
      <section class="container">
          <div id="pro-and-design">
              <div class="pro-and-design-text pro-text">
                <h2> PROGRAMMING </h2>
                <p>
                    Data Science, Full Stack Development
                </p>
                <h4>Java | Python | JavaScript <br> HTML | CSS | Linux </h4>

              </div>
              <h1 class="pro-and-design-text large-and"> x </h1>
              <div class="pro-and-design-text design-text">
                <h2> DESIGN</h2>
                <p>
                    Graphic Design, UI/UX Design, Photography
                </p>
                <h4>Photoshop | InDesign | Illustrator <br> Analog Photography | Sketch </h4>


              </div>
              
            </div>




      </section>
      <a class="resume" href="Resume_Jina Lo.pdf">View My Resume ></a>
  </div>
  </section>
  <section class="work_samples">
      <h1 class="work_header">PAST WORKS</h1>
      <div class="container">
      
          <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <div class="card-img-top" style="width: 100%;">
                      <img class="card-img-cus" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: auto; width: 100%; display: block;" src="/img/github.png" data-holder-rendered="true">
                  </div>
                  <div class="card-body">
                    <p class="card-text">View Coding Projects</p>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <div class="card-img-top" style="width: 100%;">
                        <img class="card-img-cus" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: auto; width: 100%; display: block;" src="/img/design.png" data-holder-rendered="true">
                    </div>
                    <div class="card-body">
                      <p class="card-text">View Design Works</p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <div class="card-img-top" style="width: 100%;">
                          <img class="card-img-cus" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: auto; width: 100%; display: block;" src="/img/photo.png" data-holder-rendered="true">
                      </div>
                      <div class="card-body">
                        <p class="card-text">View Photography</p>
                      </div>
                    </div>
                  </div>
              


          </div>
        </div>
          
  </section>


  
  
  <%- include('partials/footer'); -%>

</body>

</html>
