<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f6bc082766.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/styles.css">
 <!-- Bootstrap Things -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <title>Jina Lo</title>
</head>

<body>
    <section id="intro">
            <div class="container-fluid">
                <%- include('partials/header'); -%>
            </div>
    </section>
    <section id="programming-body">
<div class="design-description pro-description">
            <div class="stroke-container">
                <div class="pro-description-text">
                        <h2> Programming </h2>
                        <h3> Data Science and Full Stack Development</h3>
                        <h4> Java | Python | JavaScript | HTML | CSS | Linux</h4>    
                </div>
                <img  class="stroke des-stroke" src="/img/yellow-stroke.png"></img>
      
            </div>
    </div>

    <div class="container">
            <div class="row">
              <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="card-link">Card link</a>
                                  <a href="#" class="card-link">Another link</a>
                                </div>
                              </div>
              </div>
                <div class="col-md-4">
                    <a href="/design">
                    <div class="card mb-4 box-shadow">
                      <div class="card-img-top" style="width: 100%;">
                          <img class="card-img-cus" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: auto; width: 100%; display: block;" src="/img/design.png" data-holder-rendered="true">
                      </div>
                      <div class="card-body">
                        <p class="card-text">View Design Works</p>
                      </div>
                    </div>
                  </a>
                  </div>
  
                  <div class="col-md-4">
                      <a href="/photography">
                      <div class="card mb-4 box-shadow">
                        <div class="card-img-top" style="width: 100%;">
                            <img class="card-img-cus" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: auto; width: 100%; display: block;" src="/img/photo.png" data-holder-rendered="true">
                        </div>
                        <div class="card-body">
                          <p class="card-text">View Photography</p>
                        </div>
                      </div>
                    </a>
                    </div>
                
  
  
            </div>
          </div>
    </section>
    
    <%- include('partials/footer'); -%>

</body>

</html>