
body {
  background-color: rgb(34, 42, 53);
}

#intro {
  padding: 2% 3% 5% 4%;
  color: rgb(238, 232, 205);
  font-family: 'Noto Serif', sans-serif;
  background-color: rgb(34, 42, 53);
}

.intro-header {
  font-family: 'Montserrat', sans-serif;
  color: rgb(238, 232, 205);
  font-size: 4.3rem;
  margin-bottom: 0;
}

#intro .navbar-brand {
  color: rgb(238, 232, 205);
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 0;
}

.navbar-brand:hover {
  color: rgb(192, 183, 161);
}

.nav-link, .dropdown-toggle, .dropdown-item {
  color: rgb(238, 232, 205);
  text-decoration: underline;
  font-size: 12px;
  text-align: right;
}

.navbar {
  padding: 0
}
.navbar-nav {
  text-align: right
}

div.dropdown-menu.show {
  background-color: rgb(34, 42, 53);
  color: rgb(238, 232, 205);
  text-align: right;
  margin-right: 2px;
  border: 1px solid;
  min-width: 8rem
}

a.dropdown-item {
  background-color: rgb(34, 42, 53);
  color: rgb(238, 232, 205);
  padding-left: 0;
  max-width: 8rem;
}

a.dropdown-item:hover {
  background-color: rgb(34, 42, 53);
  color: rgb(192, 183, 161);
}

.nav-link:hover {
  color: rgb(192, 183, 161);
  text-decoration: none;
}

.intro-head-des {
  font-size: 24px;
}

.intro-des {
  font-size: 1rem;
}

.intro-text {
  margin-top: 140px;
}


.work_section {
  background-color: rgb(192, 183, 161);
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  
}

.work_header{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  padding: 5%
}

.container {
    text-align: center;
    padding: 0 5% 5% 5%;
    
}

#pro-and-design {
  background-color: rgb(192, 183, 161);
  color: rgb(240, 240, 229); 
  /* vertical-align: text-top; */
  position: relative;
  right: 45px;

}

.expand {
  margin-top: 10px;
}

.pro-and-design-text {
  display: inline-block;
  margin: 0 auto;
  vertical-align:top;

}

.pro-text, .design-text {
  width: fit-content;
  text-align: center;
}
.large-and {
  padding: 0 4%;
  font-size: 8rem;
  position: relative;
  bottom: 45px;
  color: rgb(34, 42, 53);

}
/* .large-and {
  font-size: 10rem;
} */

.pro-and-design-text h2 {
  color: rgb(34, 42, 53);
  font-size: 2.8rem;
  margin-bottom: 1px;
  
}

.pro-and-design-text h4 {
  font-size: 1.2rem;
  font-family: 'Noto Serif', sans-serif;
  margin: 0;
}

.pro-and-design-text p {
  font-size: 0.9rem;
  font-family: 'Noto Serif', sans-serif;
}

@media (max-width: 992px) {
  .intro-des {
    font-size: 0.7rem;
  }

  .pro-text {
    text-align: left;
  }

  .design-text {
    text-align: right;
  }

  .large-and {
    top: 0;
    margin: 2px;
  }
}


.pro-and-design-sub {
  text-align: left
}
.work_samples {
  padding: 0 15%;
  overflow: hidden;
}

.fa-chevron-down {
  color:rgb(240, 240, 229);
}


.card {
  background-color: rgb(240, 240, 229);
  color: rgb(34, 42, 53);
}
#card_sample {

  color: rgb(238, 232, 205);
  font-family: 'Noto Serif', sans-serif;
  background-color: rgb(34, 42, 53);
  padding-bottom: 5%;
  position: relative;

}





#footer {
  text-align: center;
  padding: 7% 4% 5% 4%;
  background-color: rgb(192, 183, 161);
  font-family: "Montserrat";
  color: rgb(34, 42, 53);

}

.social-icon {
  margin: 4px 8px
}

.social-icon:hover {
  transform: scale(1.2);
}



.sub_title {
  font-family: 'Noto Serif', sans-serif;
  font-size: 3.5rem;
  padding-top: 7%
}

.ivory {
  background-color: rgb(192, 183, 161);
}

.timeline {
  position: relative;
  font-family: "Montserrat";
  max-width: 1200px;
  margin: 0 10%;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: rgb(238, 232, 205);
  top: 0;
  bottom: 0;
  left: 2%;
  margin-left: -3px;
}

.time_container {
  padding: 10px 50px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.time_container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 1px;
  right: 530px;
  border: 2px solid rgb(34, 42, 53);
  top: 15px;
  z-index: 1;
}