
body {
  background-color: rgb(34, 42, 53);
}

#intro {
  padding: 2% 3% 5% 4%;
  color: rgb(207, 207, 207);
  font-family: 'Noto Serif', sans-serif;
  background-color: rgb(34, 42, 53);
}


.intro-header {
  font-family: 'Montserrat', sans-serif;
  color: rgb(207, 207, 207);
  font-size: 4.3rem;
  margin-bottom: 0;
}

#intro .navbar-brand {
  color: rgb(207, 207, 207);
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 0;
}

.navbar-brand:hover {
  color: rgb(207, 207, 207);
}

.nav-link, .dropdown-toggle, .dropdown-item {
  color: rgb(207, 207, 207);
  text-decoration: underline;
  font-size: 12px;
  text-align: right;
}

.navbar {
  padding: 0
}
.navbar-nav {
  text-align: right
}

div.dropdown-menu.show {
  background-color: rgb(34, 42, 53);
  color: rgb(207, 207, 207);
  text-align: right;
  margin-right: 2px;
  border: 1px solid;
  min-width: 8rem
}

a.dropdown-item {
  background-color: rgb(34, 42, 53);
  color: rgb(207, 207, 207);
  padding-left: 0;
  max-width: 8rem;
}

a.dropdown-item:hover {
  background-color: rgb(34, 42, 53);
  color: rgb(207, 207, 207);
}

.nav-link:hover {
  color: rgb(207, 207, 207);
  text-decoration: none;
}

.intro-head-des {
  font-size: 24px;
}

.intro-des {
  font-size: 1rem;
}

.intro-text {
  margin-top: 140px;
}

.highlight {
  color: rgb(255, 204, 0)
}
.work_section {
  background-color: rgb(207, 207, 207);
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  
}

.work_header{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  padding: 5%
}

.work_section .container {
    text-align: center;
    padding: 0 5% 5% 5%;
    
}

#pro-and-design {
  background-color: rgb(207, 207, 207);
  color: rgb(34, 42, 53);
  /* vertical-align: text-top; */


}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.expand {
  margin-top: 10px;
}

.pro-and-design-text {
  display: inline-block;
  margin: 0 auto;
  vertical-align:top;

}

.pro-text, .design-text {
  width: fit-content;
  text-align: center;
  color: rgb(34, 42, 53);
}
.large-and {
  padding: 0 4%;
  font-size: 8rem;
  position: relative;
  bottom: 45px;
  color: rgb(34, 42, 53);

}
/* .large-and {
  font-size: 10rem;
} */

.pro-and-design-text h2 {
  color: rgb(34, 42, 53);
  font-size: 2.8rem;
  margin-bottom: 1px;
}

.pro-and-design-text h4 {
  font-size: 0.8rem;
  font-family: 'Noto Serif', sans-serif;
  margin: 1px 0 0 0;
}

.pro-and-design-text p {
  font-size: 1rem;
  color: rgb(34, 42, 53);
  margin: 0
}

@media (max-width: 1200px) {
  .intro-des {
    font-size: 0.7rem;
  }

  .pro-text, .design-text {
    text-align: center;
    position: static;
    display: block;
  }


  .large-and {
    top: 0;
    margin: 2px;
    display: block;
  }

  #pro-and-design {
    position: static;
  }
}
@media (max-width: 480px) {
  .pro-and-design-text h2 {
    font-size: 2rem;
  }
  .pro-and-design-text p {
    font-size: 0.8rem;
  }

  .pro-and-design-text h4 {
    font-size: 0.7rem;
  }
  .large-and {
    height: 100px;
    font-size: 6rem;
  }
}
.resume {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(34, 42, 53);
  padding: 5%;
  position: relative;
  bottom: 10px
}

.pro-and-design-sub {
  text-align: left
}
.work_samples {

  overflow: hidden;
  color: rgb(207, 207, 207);
  padding-bottom: 5%
}
.album.py-5 {
  padding-top: 0;
  padding-bottom: 0
}


.card_section {
  margin: 0 5%
}
.card-body {
  background-color: rgb(207, 207, 207)
}



#footer {
  text-align: center;
  padding: 3% ;
  background-color: rgb(207, 207, 207);
  font-family: "Montserrat";
  color: rgb(34, 42, 53);

}

.design_container {
  max-width: 1440px;
  margin: 0;
  display: block;
  padding-bottom: 5%
}

.grid-row1, .grid-row2, .grid-row3 {
  display: flex;
}

.row1-item {
  width:50%;
  float: left;
}

.row2-item {
  width: 24.8%;
  float:left
}

.row2{
  width:50.4%;
  float:left;
}


.row3-item1 {
  float:left;
  width: 72%
}
.row3-item2 {
  float:left;
  width: 28%
}


.design_container img {
  width: 100%
}

.row-item {
  position: relative;
}
.img-title {
  position: absolute;
  background-color:rgb(34, 42, 53, 0.9);
  color: rgb(207, 207, 207);
  top: 0;
  padding: 0 2%;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Montserrat";
  display: none;
}

.img-title h2 {
  font-size: 2.5vw;
}

.img-title p {
  font-size: 1rem;
  font-family: 'Noto Serif', sans-serif;
}
.img-title h2, .img-title p{
  position: relative;
  top: 40%;
  transform: perspective(1px) translateY(-40%);
  margin:0;
}


@media (max-width: 600px) {
  .grid-row1, .grid-row2, .grid-row3 {
    display: block;
  }
  .row1-item, .row2, .row2-item, .row3-item1, .row3-item2 {
    width: 100%
  }


}

.social-icon {
  margin: 4px 8px
}

.social-icon:hover {
  transform: scale(1.2);
}



.sub_title {
  font-family: 'Noto Serif', sans-serif;
  font-size: 3.5rem;
  padding-top: 7%
}

.ivory {
  background-color: rgb(207, 207, 207);
  padding-bottom: 10px
}

.card-img-top {
  max-width:100%;
    height:auto;
}
.card-text{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(34, 42, 53);

}

.design-description {
  padding: 5%;
  color: rgb(207, 207, 207);
  margin: 0;
}
.design-description h2 { 
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
} 

.design-description h3 { 
  font-size: 1rem;
  font-family: 'Noto Serif', sans-serif;
  margin: 0;
} 

.design-description h4 { 
  font-size: 0.8rem;
  font-family: 'Noto Serif', sans-serif;
  margin: 0;
} 


