

.bp1-desktophd {
    width               : 100%;
    min-width           : 1440px;
    height              : 100vh;
    min-height          : 2218px;
    position            : relative;
    overflow            : hidden;
    margin              : 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color    : rgba(255, 255, 255, 1.0);
  }
  a {
    text-decoration     : none;
  }
  div {
    -webkit-text-size-adjust: none;
  }
  .anima-full-width-a {
    width               : 100%;
  }
  .anima-full-height-a {
    height              : 100%;
  }
  div {
    -webkit-text-size-adjust: none;
  }
  .bp1-desktophd .bp1-rectangle {
    background-color    : rgba(255,255,255,0.0);
    top                 : -1px;
    height              : 806px;
    width               : 2606px;
    position            : absolute;
    margin              : 0;
    left                : -583px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .bp1-desktophd .bp1-rectangle1 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 1404px;
    height              : 819px;
    width               : 2606px;
    position            : absolute;
    margin              : 0;
    left                : -583px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .bp1-desktophd .bp1-rectangle2 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 799px;
    height              : 611px;
    width               : 2606px;
    position            : absolute;
    margin              : 0;
    left                : -583px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .bp1-desktophd .bp1-intro {
    background-color    : rgba(255,255,255,0.0);
    top                 : 441px;
    height              : 199px;
    width               : 1004px;
    position            : absolute;
    margin              : 0;
    left                : 60px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .bp1-desktophd .bp1-intro .bp1-jinalo {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 137px;
    width               : 36.06%;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Avenir-Black", Helvetica, Arial, serif;
    font-size           : 100.0px;
    color               : rgba(216, 216, 216, 1.0);
    text-align          : left;
    line-height         : 137.0px;
  }
  .bp1-desktophd .bp1-intro .bp1-programmerdesigne {
    background-color    : rgba(255,255,255,0.0);
    bottom              : 23.62%;
    height              : 42px;
    width               : 428px;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Charter-Roman", Helvetica, Arial, serif;
    font-size           : 30.0px;
    color               : rgba(216, 216, 216, 1.0);
    text-align          : left;
    line-height         : 36.0px;
  }
  .bp1-desktophd .bp1-intro .bp1-hiiamajuniorst {
    background-color    : rgba(255,255,255,0.0);
    bottom              : 0px;
    height              : 52px;
    width               : 1004px;
    position            : absolute;
    margin              : 0;
    left                : calc(50.00% - 502px);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Charter-Roman", Helvetica, Arial, serif;
    font-size           : 21.0px;
    color               : rgba(216, 216, 216, 1.0);
    text-align          : left;
    line-height         : 26.0px;
  }
  .bp1-desktophd .bp1-programmingxdesign {
    background-color    : rgba(255,255,255,0.0);
    top                 : 1049px;
    height              : 164px;
    width               : 1054px;
    position            : absolute;
    margin              : 0;
    left                : 193px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .bp1-desktophd .bp1-programmingxdesign .bp1-group {
    background-color    : rgba(255,255,255,0.0);
    bottom              : 0px;
    height              : 96.34%;
    width               : 49.34%;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .bp1-desktophd .bp1-programmingxdesign .bp1-group .bp1-fullstackdevelopme {
    background-color    : rgba(255,255,255,0.0);
    bottom              : 35.44%;
    height              : 30px;
    width               : 436px;
    position            : absolute;
    margin              : 0;
    left                : calc(50.00% - 218px);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Charter-Roman", Helvetica, Arial, serif;
    font-size           : 24.0px;
    color               : rgba(36, 38, 56, 1.0);
    text-align          : center;
    line-height         : 30.0px;
  }
  .bp1-desktophd .bp1-programmingxdesign .bp1-group .bp1-javapythonjava {
    background-color    : rgba(255,255,255,0.0);
    bottom              : 0px;
    height              : 52px;
    width               : 376px;
    position            : absolute;
    margin              : 0;
    left                : calc(50.00% - 188px);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Charter-Roman", Helvetica, Arial, serif;
    font-size           : 21.0px;
    color               : rgba(255, 255, 255, 1.0);
    text-align          : center;
    line-height         : 26.0px;
  }
  .bp1-desktophd .bp1-programmingxdesign .bp1-group .bp1-programming {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 70px;
    width               : 100%;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Avenir-Black", Helvetica, Arial, serif;
    font-size           : 63.0px;
    color               : rgba(36, 38, 56, 1.0);
    text-align          : center;
    line-height         : 86.0px;
  }
  .bp1-desktophd .bp1-programmingxdesign .bp1-x {
    background-color    : rgba(255,255,255,0.0);
    right               : 40.80%;
    top                 : 0px;
    height              : 123px;
    width               : 6.26%;
    position            : absolute;
    margin              : 0;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Avenir-Black", Helvetica, Arial, serif;
    font-size           : 90.0px;
    color               : rgba(36, 38, 56, 1.0);
    text-align          : center;
    line-height         : 123.0px;
  }
  .bp1-desktophd .bp1-programmingxdesign .bp1-design {
    background-color    : rgba(255,255,255,0.0);
    right               : 0px;
    bottom              : 0px;
    height              : 96.34%;
    width               : 35.67%;
    position            : absolute;
    margin              : 0;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .bp1-desktophd .bp1-programmingxdesign .bp1-design .bp1-graphicdesignphot {
    background-color    : rgba(255,255,255,0.0);
    bottom              : 36.08%;
    height              : 29px;
    width               : 368px;
    position            : absolute;
    margin              : 0;
    left                : calc(50.00% - 184px);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Charter-Roman", Helvetica, Arial, serif;
    font-size           : 23.0px;
    color               : rgba(36, 38, 56, 1.0);
    text-align          : center;
    line-height         : 29.0px;
  }
  .bp1-desktophd .bp1-programmingxdesign .bp1-design .bp1-design1 {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 86px;
    width               : 64.63%;
    position            : absolute;
    margin              : 0;
    left                : 17.69%;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Avenir-Black", Helvetica, Arial, serif;
    font-size           : 63.0px;
    color               : rgba(36, 38, 56, 1.0);
    text-align          : center;
    line-height         : 86.0px;
  }
  .bp1-desktophd .bp1-programmingxdesign .bp1-design .bp1-illustratorphotos {
    background-color    : rgba(255,255,255,0.0);
    bottom              : 0px;
    height              : 52px;
    width               : 376px;
    position            : absolute;
    margin              : 0;
    left                : calc(50.00% - 188px);
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Charter-Roman", Helvetica, Arial, serif;
    font-size           : 21.0px;
    color               : rgba(255, 255, 255, 1.0);
    text-align          : center;
    line-height         : 26.0px;
  }
  .bp1-desktophd .bp1-viewmyresume {
    background-color    : rgba(255,255,255,0.0);
    top                 : 1360px;
    height              : auto;
    width               : auto;
    position            : absolute;
    margin              : 0;
    left                : 1253px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Charter-Roman", Helvetica, Arial, serif;
    font-size           : 18.0px;
    color               : rgba(36, 38, 56, 1.0);
    text-align          : right;
    line-height         : 22.0px;
  }
  .bp1-desktophd .bp1-header {
    background-color    : rgba(255,255,255,0.0);
    top                 : 21px;
    height              : 33px;
    width               : 1350px;
    position            : absolute;
    margin              : 0;
    left                : 60px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
  }
  .bp1-desktophd .bp1-header .bp1-contact {
    background-color    : rgba(255,255,255,0.0);
    top                 : 1px;
    height              : 60.61%;
    width               : calc(100.00% - 1250px);
    position            : absolute;
    margin              : 0;
    left                : 1250px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Charter-Roman", Helvetica, Arial, serif;
    font-size           : 16.0px;
    color               : rgba(216, 216, 216, 1.0);
    text-align          : center;
    line-height         : 20.0px;
  }
  .bp1-desktophd .bp1-header .bp1-design {
    background-color    : rgba(255,255,255,0.0);
    top                 : 1px;
    height              : 60.61%;
    width               : calc(100.00% - 1250px);
    position            : absolute;
    margin              : 0;
    left                : 1162px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Charter-Roman", Helvetica, Arial, serif;
    font-size           : 16.0px;
    color               : rgba(216, 216, 216, 1.0);
    text-align          : center;
    line-height         : 20.0px;
  }
  .bp1-desktophd .bp1-header .bp1-programming {
    background-color    : rgba(255,255,255,0.0);
    top                 : 1px;
    height              : 60.61%;
    width               : calc(100.00% - 1250px);
    position            : absolute;
    margin              : 0;
    left                : 1058px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Charter-Roman", Helvetica, Arial, serif;
    font-size           : 16.0px;
    color               : rgba(216, 216, 216, 1.0);
    text-align          : center;
    line-height         : 20.0px;
  }
  .bp1-desktophd .bp1-header .bp1-about {
    background-color    : rgba(255,255,255,0.0);
    top                 : 1px;
    height              : 60.61%;
    width               : calc(100.00% - 1250px);
    position            : absolute;
    margin              : 0;
    left                : 954px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Charter-Roman", Helvetica, Arial, serif;
    font-size           : 16.0px;
    color               : rgba(216, 216, 216, 1.0);
    text-align          : center;
    line-height         : 20.0px;
  }
  .bp1-desktophd .bp1-header .bp1-jl {
    background-color    : rgba(255,255,255,0.0);
    top                 : 0px;
    height              : 100%;
    width               : 2.22%;
    position            : absolute;
    margin              : 0;
    left                : 0px;
    -ms-transform       : rotate(0deg); /* IE 9 */
    -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
    transform           : rotate(0deg);
    font-family         : "Avenir-Black", Helvetica, Arial, serif;
    font-size           : 24.0px;
    color               : rgba(216, 216, 216, 1.0);
    text-align          : left;
    line-height         : 33.0px;
  }
  /* .anima-animate-appear prefix for appear animations */
  .anima-animate-appear {
    opacity             : 0;
    display             : block;
    -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
    -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
    -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
    animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
  }
  .anima-animate-disappear {
    opacity             : 1;
    display             : block;
    -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
    -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
    -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
    animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  }
  .anima-animate-nodelay {
    -webkit-animation-delay: 0;
    -moz-animation-delay: 0;
    -o-animation-delay  : 0;
    animation-delay     : 0;
  }
  @-webkit-keyframes anima-reveal {
    0%
     
    {
        opacity: 0;
      }
    
      
    100%
     
    {
        opacity: 1;
      }
  }
  @-moz-keyframes anima-reveal {
    0%
     
    {
        opacity: 0;
      }
    
      
    100%
     
    {
        opacity: 1;
      }
  }
  @-o-keyframes anima-reveal {
    0%
     
    {
        opacity: 0;
      }
    
      
    100%
     
    {
        opacity: 1;
      }
  }
  @keyframes anima-reveal {
    0%
     
    {
        opacity: 0;
      }
    
      
    100%
     
    {
        opacity: 1;
      }
  }